.wrapper {
  display: flex;
  gap: 10px;
  flex-basis: 40px;

  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin: 15px;
}

.textfield, .select {
  flex: 1;
}

.button {
  color: #fe6b8b !important;
  font-weight: bold !important;
  flex-basis: 50px;
}
